@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica 67 Medium Condensed Oblique'), local('HelveticaNeue-MediumCondObl'),
        url('HelveticaNeue-MediumCondObl.woff2') format('woff2'),
        url('HelveticaNeue-MediumCondObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica 97 Black Condensed Oblique'), local('HelveticaNeue-BlackCondObl'),
        url('HelveticaNeue-BlackCondObl.woff2') format('woff2'),
        url('HelveticaNeue-BlackCondObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica Neue Condensed Bold'), local('HelveticaNeue-CondensedBold'),
        url('HelveticaNeue-CondensedBold.woff2') format('woff2'),
        url('HelveticaNeue-CondensedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica 67 Medium Condensed'), local('HelveticaNeue-MediumCond'),
        url('HelveticaNeue-MediumCond.woff2') format('woff2'),
        url('HelveticaNeue-MediumCond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica 97 Black Condensed'), local('HelveticaNeue-BlackCond'),
        url('HelveticaNeue-BlackCond.woff2') format('woff2'),
        url('HelveticaNeue-BlackCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: local('Helvetica 37 Thin Condensed'), local('HelveticaNeue-ThinCond'),
        url('HelveticaNeue-ThinCond.woff2') format('woff2'),
        url('HelveticaNeue-ThinCond.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

