/* Slack.com navbar and billboard area styles */
@import url("../fonts/stylesheet.css");

:root {
  --purple: #541554;
  --light-purple: #6e1e62;
  --dark-purple: #2e0a2f;
  --white: #ffffff;
  --black: #000000;
  --blue: #36c5f0;
  --blue-accesible: #2ea3f2;
  --green: #2eb67d;
  --green-accesible: #007a5a;
  --yellow: #ecb22e;
  --red: #e01e5a;
  --google-blue: #4285f4;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Helvetica Neue";
  white-space: nowrap;
}

.page-content {
  display: block;
  max-width: 1280px;
  margin: 0 auto;
  flex: 1;
}

.container {
  padding: 0 3.285rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar */

.header {
  background-color: var(--purple);
  color: var(--white);
  height: 80px;
}

.logo {
  padding-right: 32px;
  overflow: hidden;
  flex-shrink: 0;
}

.links {
  list-style: none;
}

@media screen and (max-width: 67.81rem) {
  .link-list {
    display: none;
  }

  .mobile {
    display: none;
  }
}

@media screen and (min-width: 67.81rem) {
  .nav {
    flex: 1;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 75.93rem) {
  .talk-to-sales {
    display: none;
  }
}

.links a {
  color: var(--white);
  text-decoration: none;
  padding: 15px 16px;
  font-weight: 700;
  font-size: 0.9375rem;
}

.links a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

#products {
  align-items: center;
  display: flex;
}

#products:hover {
  text-decoration: none;
}

#arrow {
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}

#products:hover #arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

#primary-button {
  background-color: var(--white);
  text-decoration: none;
  color: var(--purple);
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 0.875rem;
  margin-left: 20px;
}

#primary-button:hover {
  box-shadow: inset 0 0 0 2px var(--purple);
  transition: box-shadow 0.3s ease-in-out;
  color: var(--light-purple);
}

#tts {
  text-decoration: none;
  border: 1px solid var(--white);
  border-radius: 4px;
  font-size: 0.9375rem;
  padding: 12px 16px;
  margin-left: 8px;
}

#tts:hover {
  box-shadow: inset 0 0 0 1px var(--white);
  transition: box-shadow 0.3s ease-in-out;
}

.hamburger-menu {
  margin-left: 32px;
}

/* Billboard */

.billboard {
  background-color: var(--purple);
  color: var(--white);
  padding-bottom: 5rem;
  padding-top: 2.5rem;
  white-space: normal;
}

.hero {
  display: flex;
  align-items: center;
}

.left-hero {
  flex: 1;
  max-width: 50%;
}

.right-hero {
  flex: 1;
  max-width: 50%;
}

.h-title {
  font-size: 2.75rem;
  max-width: 14em;
  text-align: left;
  font-weight: 700;
  white-space: normal;
}

.highlight {
  color: var(--yellow);
}

.hero-paragraph {
  white-space: normal;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0.25rem 0 3.5rem;
}

.hero-buttons {
  align-items: center;
  margin-top: 2rem;
}

.google {
  background: #fff;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  width: 21px;
  padding: 0.875rem;
  margin-right: auto;
  border-radius: 2px;
}

.google-button {
  color: var(--white);
  background-color: var(--google-blue);
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 700;
  font-size: 0.875rem;
  margin-left: 20px;
  position: relative;
  padding-left: 4rem;
  height: 57px;
}

.normal-button {
  color: var(--purple);
  background-color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 19px 40px 20px;
  font-weight: 700;
  font-size: 0.875rem;
  height: 57px;
}

.bold {
  font-weight: 900;
}

.sub-p {
  margin-top: 1rem;
  font-weight: 400;
  line-height: 1.333;
  letter-spacing: -0.2px;
  font-size: 1.25rem;
}

.hero-video {
  max-width: 700px;
  max-height: 400px;
}

/* when screen size lower than 1283 px  */
@media screen and (max-width: 73.31rem) {
  .highlight {
    white-space: normal;
  }
  .button {
    width: 100%;
    white-space: normal;
  }
  .hero-buttons {
    align-items: center;
    justify-content: center;
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
  }
  .google-button {
    margin-left: 0px;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 64rem) {
  .sub-p {
    display: none;
  }
}

@media screen and (max-width: 48rem) {
  .hero {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .h-title {
    text-align: center;
  }
  .left-hero {
    max-width: 100%;
    width: 100%;
  }
  .right-hero {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 25rem) {
  .h-title {
    font-size: calc(2.75rem + (20 * (100vw - 400px) / 624));
  }

  .hero-paragraph {
    font-size: calc(1.125rem + (2 * (100vw - 400px) / 624));
  }

  .button {
    font-size: calc(0.875rem + (0 * (100vw - 400px) / 624));
  }
}

@media screen and (min-width: 64rem) {
  .h-title {
    font-size: 4rem;
  }
  .hero-paragraph {
    font-size: 1.25rem;
  }
  .button {
    font-size: 0.875rem;
  }
  .sub-p {
    font-size: 1.25rem;
  }
}
